<h1 style="color:blue">
    Api Hospitales 
</h1>

<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="Hospitales"
            asp-action="Cliente">
            Consumo FRONT
        </a>
    </li>
    <li class="list-group-item">
        <a asp-controller="Hospitales"
           asp-action="Servidor">
            Consumo BACK
        </a>
    </li>
</ul>


